{% extends "site/components/_base.html.twig" %}
{% block title %}{{ h1 }}{% endblock %}
{% block body %}

    <h1 class="col-12 text-center my-5">{{ h1}}</h1>

    <div class="row g-0 justify-content-center mb-5">
        <p class="col-11">
            Le code est avant tout pour moi une passion.<br/>
            J'avais déjà fait 2- 3 projets web il y a 10 ans...<br/>
            J'ai profité du 1er confinement pour passer une formation à distance de développeur web avec à la clé un diplôme obtenu en Août 2020 !<br/>
            Je suis autodidacte à 100%, n' hésitez pas à prendre contact avec moi si vous avez un projet.
        </p>
    </div>

{% endblock %}