{% extends "site/components/_base.html.twig" %}
{% block title %}
	{{ h1 }}
{% endblock %}
{% block body %}

	<h1 class="col-12 text-center mt-5">{{ h1 }}</h1>

	{% include "site/components/_breadcrumb.html.twig" with {category: category, trick: trick} %}

	<div class="row g-0 justify-content-center mb-5">
		<article class="card p-0 col-11 border rounded-2 mb-1">
			<div class="card-body">{{ trick.description | raw }}</div>
			<div class="card-footer d-flex justify-content-end align-items-center">
		        <div class="small">Mise à jour le: {{ trick.updatedAt | date("d/m/Y") }}</div>
                {# <button id="copyButton" class="btn btn-outline-dark"><i class="fa-solid fa-copy"></i></button> #}
            </div>
		</article>
	</div>

	<script>
        let presentations = document.querySelectorAll('pre');

        if(presentations){

            presentations.forEach(presentation => {
                presentation.style.cursor = 'copy';
                presentation.addEventListener('click', () => {
                    let textPre = presentation.textContent;
                    let height = presentation.offsetHeight;
                    console.log(textPre);
                    navigator.clipboard.writeText(presentation.textContent);
                    presentation.style.height = height + 'px';
                    presentation.classList.add('d-flex', 'justify-content-center', 'align-items-center');
                    presentation.innerHTML = 'C\'est copié!';

                    setTimeout(() => {
                        presentation.innerHTML = textPre;
                        presentation.classList.remove('d-flex', 'justify-content-center', 'align-items-center');
                    }, 2000);
                });
            });
        }
        
	</script>

{% endblock %}
