{% extends "site/components/_base.html.twig" %}
{% block title %}Mes articles pour ne plus chercher sur Google !{% endblock %}
{% block body %}

    <h1 class="col-11 text-center mt-5 mx-auto">{{ h1 }}</h1>
    <p class="lead col-11 text-center small fst-italic mx-auto">{{ lead | raw}}</p>

    
{% endblock %}
